logging:
  level:
    org:
      springframework:
        security: DEBUG
spring:
  datasource:
    url: jdbc:postgresql://bdd-1ljdpn:5432/BDD
    username: posgres-user
    password: password
  jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      open-in-view: false
      show-sql: true
      hibernate.ddl-auto: create
  liquibase:
    enabled: false
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
